html,
body,
div,
span,
input,
textarea,
nav {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}

ol,
ul {
  list-style: none;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.color-choices-container {
  position: absolute;
  margin-left: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color-choice {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}

.purple-teal {
  background: linear-gradient(to right, rgb(54, 10, 51), rgb(11, 135, 147));
}

.dark-blues {
  background: linear-gradient(
    to right,
    rgb(15, 32, 39),
    rgb(32, 58, 67),
    rgb(44, 83, 100)
  );
}

.sky {
  background: linear-gradient(
    to right,
    rgb(41, 128, 185),
    rgb(109, 213, 250),
    rgb(255, 255, 255)
  );
}

.teals {
  background: linear-gradient(to right, rgb(0, 121, 145), rgb(120, 255, 214));
}

.blues {
  background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244));
}

.greens {
  background: linear-gradient(to right, rgb(17, 153, 142), rgb(56, 239, 125));
}

.pinks {
  background: linear-gradient(to right, rgb(249, 83, 198), rgb(185, 29, 115));
}

.red-orange {
  background: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25));
}

.pink-blue {
  background: linear-gradient(to right, rgb(239, 50, 217), rgb(137, 255, 253));
}

.content-container {
  width: 360px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5),
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5),
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5),
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.result-view-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

#result-view {
  resize: none;
  height: 200px;
  width: 328px;
  text-align: right;
  font-size: 24px;
  outline: 0;
  display: block;
  padding: 4px;
}

.clear-button-container {
  display: flex;
  justify-content: flex-end;
}

.btn-right-tab {
  border-radius: 0px 0px 4px 4px;
  border-bottom: 1px solid black;
  border-right: 0;
  border-left: 1px solid black;
  border-top: 0;
  filter: brightness(0.95);
}

.btn-right-tab:last-child {
  border-right: 1px solid black;
}

.btn-right-tab:hover,
.btn-selected,
.calculator-button:hover {
  filter: brightness(0.85);
}

.btn-right-tab:active,
.calculator-button:active {
  filter: brightness(1);
}

.input-view-container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

#text-input {
  resize: none;
  width: 328px;
  text-align: right;
  height: 40px;
  font-size: 24px;
  padding: 4px;
}

.tab-menu-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.text-input-button-label {
  font-size: 13.3333px;
  margin-right: 4px;
  align-self: center;
}

.calculator-buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 8px;
  row-gap: 8px;
  margin-top: 8px;
  width: 340px;
}

.calculator-button {
  height: 42px;
  font-size: 18px;
  border-radius: 4px;
  border: 0;
  border-top: 0;
  border-right: 0;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  filter: brightness(0.95);
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5),
    0 3px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5),
    0 3px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5),
    0 3px 5px 0 rgba(0, 0, 0, 0.2);
}
