html body div span input textarea nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, rgb(0, 121, 145), rgb(120, 255, 214));
}

ol,
ul {
  list-style: none;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 98vh;
  width: 98vw;
}

.content-container {
  width: 360px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5),
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5),
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5),
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.result-view-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

#result-view {
  resize: none;
  height: 200px;
  width: 324px;
  text-align: right;
  font-size: 24px;
  outline: 0;
  display: block;
}

.clear-button-container {
  display: flex;
  justify-content: flex-end;
}

.btn-right-tab {
  border-radius: 0px 0px 4px 4px;
  border-bottom: 1px solid black;
  border-right: 0;
  border-left: 1px solid black;
  border-top: 0;
  filter: brightness(0.95);
}

.btn-right-tab:last-child {
  border-right: 1px solid black;
}

.btn-right-tab:hover,
.btn-selected,
.calculator-button:hover {
  filter: brightness(0.85);
}

.btn-right-tab:active,
.calculator-button:active {
  filter: brightness(1);
}

.input-view-container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

#text-input {
  resize: none;
  width: 322px;
  text-align: right;
  height: 40px;
  font-size: 24px;
}

.tab-menu-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.text-input-button-label {
  font-size: 13.3333px;
  margin-right: 4px;
  align-self: center;
}

.calculator-buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 8px;
  row-gap: 8px;
  margin-top: 8px;
  width: 330px;
}

.calculator-button {
  height: 42px;
  font-size: 18px;
  border-radius: 4px;
  border: 0;
  border-top: 0;
  border-right: 0;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  filter: brightness(0.95);
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5),
    0 3px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5),
    0 3px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5),
    0 3px 5px 0 rgba(0, 0, 0, 0.2);
}
