html body div span nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}

ol, ul {
  list-style: none;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 98vh;
  width: 98vw;
}

.content-container {
  width: 360px;
  height: 640px;
  display: flex;
  flex-direction: column;
}

.input-view-container {
  margin-top: 20px;
}

#result-view {
  resize: none;
  height: 200px;
  width: 340px;
  text-align: right;
}

#text-input {
  resize: none;
  width: 338px;
  text-align: right;
}